%ul.footer.horizontal
  %li= link_to 'home', root_path
  %li= link_to 'learn more', learn_path
  %li= link_to 'api', api_path
  %li= link_to 'about', about_path
%ul.horizontal
  %li
    This project is supported by a grant from the
    = link_to('Center for Information Technology Policy', 'http://citp.princeton.edu/')
    at
    = link_to('Princeton University', 'http://www.princeton.edu/')