%br
%h2 About this project
%p With the Pairwise Web Service anyone can build community-generated and community-sorted websites. These websites let the best ideas in your group or organization "bubble to the top" all in a democratic, transparent, and bottom-up process.

%h3 Contributers
%p
  %strong= link_to('Matthew Salganik', 'http://sociology.princeton.edu/Faculty/Salganik/')
  %br
  Department of Sociology, Princeton University
%p
  %strong= link_to('Peter Lubell-Doughtie', 'http://blog.helioid.com')
  %br
  Helioid LLC
%p
  %strong= link_to('Nadia Heninger', 'http://www.cs.princeton.edu/~nadiah/')
  %br
  Department of Computer Science, Princeton University
%p
  %strong= link_to('Bill Zeller', 'http://www.from.bz/')
  %br
  Department of Computer Science, Princeton University
%h3 Contact Us
%p= link_to('pairwise@photocracy.org', 'mailto:pairwise@photocracy.org')